/* styles.css
*/



body {
    height: 700px;
    background-color: #FFDA82;
}

/* Basic styling */

#container {
    width: 1600px;
    margin: 0px auto;
}


#header {
    width: 1200px;
    text-align: center;

}

#can {
    z-index: 20;
    left: 370px;
    
}
#whiteboard-container {
    margin-bottom: 500px;
}

#userImage {
    text-align: center;
    padding: 8px, 10px;
    text-decoration: none;
}

#header h1 {
    font-family: 'Product Sans', Arial, sans-serif;
    font-size: 50px;


}

#header p, li {
    font-family: 'Roboto', Arial, sans-serif;


}

#header p{

    padding: 20px;
}

#main {
    margin: 0px auto;
    display: inline-block;
}

#main img {
    width: auto;
    height: 460px;
    position: absolute;
    padding-left: 195px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.button {

    border: 2px solid black;
}

#buttons {
    padding-left: 500px;
    display: inline-block;
    position: relative;
    bottom: 120px;
    left: 240px;
    z-index: 40;
}

#buttons button {
    padding: 16px 12px;
    margin-left: 20px;
}



/*

ul {
    list-style-type: none;
    margin-left: 130px;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
    margin: 100px;

}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #EC5E44;
    padding-left: 20px;


}

.dropbtn:hover {
    background-color: #365B36;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

//.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
*/
